body {
  /* background-color: black; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    146deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 49%,
    rgba(103, 0, 106, 1) 100%
  );
  font-family: El Rio Lobo;
  color: white;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
  /* border-bottom: 22px dotted rgb(240, 103, 126); */

  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #67006a 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

ul {
  list-style-type: none;
  margin: 0.7rem;
  /* padding: 0; */
}

#header {
  display: flex;
  justify-content: space-around;
}

.menus {
  display: flex;
  justify-content: space-between;
}

.menu2 {
  padding-right: 2rem;
}

.menu1,
.menu2 {
  font-size: 3em;
}

.description {
  font-size: 1.2rem;
  width: 22rem;
  padding-left: 2rem;
}

.footerList {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  color: rgb(59, 246, 59);
}

.secondListItem {
  margin-top: 2rem;
}

.pageName {
  display: flex;
  flex-direction: column;
}

.footerItem {
  border-bottom: 9px dotted rgb(240, 103, 126);
}
