body {
  background-color: black;
  font-family: El Rio Lobo;
  color: white;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

ul {
  list-style-type: none;
  margin: 0.7rem;
  /* padding: 0; */
}

#header {
  display: flex;
  justify-content: space-around;
}

.menus {
  display: flex;
  justify-content: space-between;
}

.menu2 {
  padding-right: 2rem;
}

.menu1,
.menu2 {
  font-size: 3em;
}

.description {
  font-size: 1.2rem;
  width: 22rem;
  padding-left: 2rem;
}

.footerList {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  color: rgb(59, 246, 59);
}

.secondListItem {
  margin-top: 2rem;
}
