body {
  /* background-color: black; */
  background: rgb(18, 235, 26);
  background: linear-gradient(
    90deg,
    rgba(18, 235, 26, 1) 0%,
    rgba(217, 41, 170, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: El Rio Lobo;
  color: white;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
  border-bottom: 9px dotted rgb(240, 103, 126);
}

ul {
  list-style-type: none;
  margin: 0.7rem;
  /* padding: 0; */
}

#header {
  display: flex;
  justify-content: space-around;
}

.menus {
  display: flex;
  justify-content: space-between;
}

.menu2 {
  padding-right: 2rem;
}

.menu1,
.menu2 {
  font-size: 3em;
}

.description {
  font-size: 1.2rem;
  width: 22rem;
  padding-left: 2rem;
}

.footerList {
  display: flex;
  justify-content: space-around;
  font-size: 1.7rem;
  color: rgb(59, 246, 59);
}

.secondListItem {
  margin-top: 2rem;
}

.pageName {
  display: flex;
  flex-direction: column;
}

.footerItem {
  border-bottom: 9px dotted rgb(240, 103, 126);
}
